.css {
  ul {
    position: relative;
    width: 42px;
    height: 42px;
    -webkit-animation: preloader_6 5s infinite linear;
    -moz-animation: preloader_6 5s infinite linear;
    -ms-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;

    li {
      width: 20px;
      height: 20px;
      position: absolute;
      background: red;
      display: block;
      -webkit-animation: preloader_6_span 1s infinite linear;
      -moz-animation: preloader_6_span 1s infinite linear;
      -ms-animation: preloader_6_span 1s infinite linear;
      animation: preloader_6_span 1s infinite linear;

      &:nth-child(1) {
        background: #2ecc71;
      }
      &:nth-child(2) {
        left: 22px;
        background: #9b59b6;
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -ms-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        top: 22px;
        background: #3498db;
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        -ms-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        top: 22px;
        left: 22px;
        background: #f1c40f;
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
    }
  }

  @keyframes preloader_6 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes preloader_6_span {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
